@font-face {
  font-family: 'Inter';
  src: local('Inter'), local('Segoe UI');
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Vars we reference in tailwind classes */
/* :root {
  @screen lg {
  }
} */

/* canvas {
  @apply absolute top-0 left-0 w-full h-full;
} */
/* canvas {
  border: 5px solid red;
} */

body {
  @apply select-none overflow-hidden touch-none bg-darkBg text-blueSlate transition-colors duration-1000;

  height: calc(100 * var(--vh));
}

/* Hide scrollbar while keeping scroll functionality */
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Global focus style */
*:focus-visible {
  outline: 4px solid var(--color-darkGoldenrod, #C39040);
}

/*The div on this button can sometimes block mouse
 and doing this does NOT break anything. */
div:has(> button[r3f-a11y='true']) {
  /* Uncomment to make these visible... */
  /* opacity: 1 !important;
  outline: 4px solid red; */
  pointer-events: none !important;
}
